body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.719); 
    padding: 40px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 0; 
    animation: fadeInContainer 1s ease-out forwards; 
}

@keyframes fadeInContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1{
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    margin-left: 5px;
    color: #111111;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #2187c8;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.submitbutton{
    margin-left: 25%;
    font-family: 'poppins';
    font-weight: 800;
    font-size: 15px;
    background-color: coral;
    color: white;
    width: 50%;
    text-align: center;
}
.submitbutton:hover{
    border-color: coral;
    color: coral;
 
background-color: white ;}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none; 
    background-image: url('arrow.png'); 
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}


input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submitbutton {
    margin-left: 25%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 15px;
    background-color: coral;
    color: white;
    width: 50%;
    text-align: center;
    cursor: pointer; }

.submitbutton:hover {
    border-color: coral;
    color: coral;
    background-color: white;
}
.form-container {
    background-color: rgba(255, 255, 255, 0.719); 
    padding: 20px; /* Reduced padding */
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 0; 
    animation: fadeInContainer 1s ease-out forwards; 
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: calc(100% - 50px); 
    padding: 8px; 
    margin-bottom: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submitbutton {
    margin-left: 25%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 15px;
    background-color: coral;
    color: white;
    width: calc(50% - 20px); /* Adjusted width to accommodate reduced padding */
    text-align: center;
    cursor: pointer;
}
 